<nav class="navbar navbar-inverse" style="position: fixed;left: 0px;right: 0px; z-index: 2;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-left"><img src="../../assets/logo.png" alt="logo" style="height: 30px; width:30px"></a>
        <a class="navbar-brand" [routerLink]="['/flights']">Martian Airlines</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/flights']">Flights</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/passengers']">Passengers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li *ngIf="loggedIn"><a>Logged in as {{loggedIn}}</a></li>
        <li>
          <!-- <a [routerLink]="['/login']" *ngIf="loggedIn=='false'">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a> -->
          <a (click)="onLogout()" *ngIf="loggedIn=='admin'||loggedIn=='staff'" style="cursor: pointer;">
            <span class="glyphicon glyphicon-log-in"></span>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>