<!-- Heading -->

<h1 style="margin-bottom: 26px;margin-top: 80px;"><span style="color: rgb(189, 14, 122); font-weight:bold ;"> Click on seat </span> to see more details</h1>


<!-- Seatmap -->

<div class="row">
    <div class="col-md-8">
        <div class="row" *ngFor="let rowNumb of arrayN(numberOfRows)">
            
            <!-- Left Rows - Column A,B,C -->
            <div class="col-md-6">
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                    [ngClass]=
                    "{
                      'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'A') == 'WHEELCHAIR',
                      'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'A') == 'INFANT',
                      'blocked-both' : wheelchairOrInfant((rowNumb+1)+'A') == 'BOTH',
                      'blocked-seat' : checkSeatBlocked((rowNumb+1)+'A')
                     }"
                        (click)="onSeatSelected((rowNumb+1)+'A')">
                        {{rowNumb+1}}A
                    </div>
                </div>
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                        [ngClass]=
                            "{
                              'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'B') == 'WHEELCHAIR',
                              'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'B') == 'INFANT',
                              'blocked-both' : wheelchairOrInfant((rowNumb+1)+'B') == 'BOTH',
                              'blocked-seat' : checkSeatBlocked((rowNumb+1)+'B')
                             }"
                        (click)="onSeatSelected((rowNumb+1)+'B')">
                        {{rowNumb+1}}B
                    </div>
                </div>
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                    [ngClass]=
                    "{
                      'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'C') == 'WHEELCHAIR',
                      'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'C') == 'INFANT',
                      'blocked-both' : wheelchairOrInfant((rowNumb+1)+'C') == 'BOTH',
                      'blocked-seat' : checkSeatBlocked((rowNumb+1)+'C')
                     }"
                        (click)="onSeatSelected((rowNumb+1)+'C')">
                        {{rowNumb+1}}C
                    </div>
                </div>
                <br class="clearBoth" />
            </div>

            <!-- Right rows - column D,E,F -->
            <div class="col-md-6">
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                    [ngClass]=
                    "{
                      'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'D') == 'WHEELCHAIR',
                      'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'D') == 'INFANT',
                      'blocked-both' : wheelchairOrInfant((rowNumb+1)+'D') == 'BOTH',
                      'blocked-seat' : checkSeatBlocked((rowNumb+1)+'D')
                     }"
                        (click)="onSeatSelected((rowNumb+1)+'D')">
                        {{rowNumb+1}}D
                    </div>
                </div>
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                    [ngClass]=
                    "{
                      'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'E') == 'WHEELCHAIR',
                      'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'E') == 'INFANT',
                      'blocked-both' : wheelchairOrInfant((rowNumb+1)+'E') == 'BOTH',
                      'blocked-seat' : checkSeatBlocked((rowNumb+1)+'E')
                     }"
                        (click)="onSeatSelected((rowNumb+1)+'E')">
                        {{rowNumb+1}}E
                    </div>
                </div>
                <div class="outer-seat" id="div-inline">
                    <div class="inner-seat" 
                    [ngClass]=
                    "{
                      'blocked-wheelchair' : wheelchairOrInfant((rowNumb+1)+'F') == 'WHEELCHAIR',
                      'blocked-infant' : wheelchairOrInfant((rowNumb+1)+'F') == 'INFANT',
                      'blocked-both' : wheelchairOrInfant((rowNumb+1)+'F') == 'BOTH',
                      'blocked-seat' : checkSeatBlocked((rowNumb+1)+'F')
                     }"
                        (click)="onSeatSelected((rowNumb+1)+'F')">
                        {{rowNumb+1}}F
                    </div>
                </div>
                <br class="clearBoth" />
            </div>
        </div>
    </div>

    <!-- Passenger seat details -->

    <div class="col-md-4 affix" style="left: 65%">
        <mat-card class="passenger-detail-card" *ngIf="passengerOfSeatSelected!=null">
            <mat-card-header>
                <div *ngIf="passengerOfSeatSelected.gender=='MALE'" mat-card-avatar class="example-header-image-male"></div>
                <div *ngIf="passengerOfSeatSelected.gender=='FEMALE'" mat-card-avatar class="example-header-image-female"></div>
                <mat-card-title>{{passengerOfSeatSelected.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-top: 20px;">
                <h3><b>Details :</b> </h3>
                <ul>
                    <li>Passport Number : {{passengerOfSeatSelected.passportNumber}}</li>
                    <li>Age : {{passengerOfSeatSelected.age}}</li>
                    <li>Gender : {{passengerOfSeatSelected.gender}}</li>

                    <!-- Wheelchair detail -->
                    <li><i class="fas fa-wheelchair"></i> Wheelchair: 
                        <i class="fas fa-check-circle" *ngIf="passengerOfSeatSelected.wheelChair"></i>
                        <i class="fas fa-times-circle" *ngIf="!passengerOfSeatSelected.wheelChair"></i>
                    </li>

                    <!-- Infant Detail -->
                    <li><i class="fas fa-baby"></i> Infant: 
                        <i class="fas fa-check-circle" *ngIf="passengerOfSeatSelected.isInfant"></i>
                        <i class="fas fa-times-circle" *ngIf="!passengerOfSeatSelected.isInfant"></i>
                    </li>
                </ul>
                <mat-divider></mat-divider>

                <div *ngIf="passengerOfSeatSelected.ancillaryServices">
                <h3><b>Ancillary Services : </b> </h3>
                <ul>
                    <!-- Food service detail -->
                    <li><i class="fas fa-utensils"></i> Special Meal: 
                        <i class="fas fa-check-circle" *ngIf="passengerSelectedAncillaryServices.specialMeal"></i>
                        <i class="fas fa-times-circle" *ngIf="!passengerSelectedAncillaryServices.specialMeal"></i>
                    </li>

                    <!-- Extra luggage Service Detail -->
                    <li><i class="fas fa-luggage-cart"></i> Extra Luggage: 
                        <i class="fas fa-check-circle" *ngIf="passengerSelectedAncillaryServices.extraLuggage"></i>
                        <i class="fas fa-times-circle" *ngIf="!passengerSelectedAncillaryServices.extraLuggage"></i>
                    </li>

                    <!-- Leg Space Service Detail -->
                    <li><i class="fas fa-shoe-prints"></i> Extra leg space: 
                        <i class="fas fa-check-circle" *ngIf="passengerSelectedAncillaryServices.extraLegSpace"></i>
                        <i class="fas fa-times-circle" *ngIf="!passengerSelectedAncillaryServices.extraLegSpace"></i>
                    </li>
                </ul>
                </div>

              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button color = "warn">EMERGENCY</button>
              </mat-card-actions> -->
        </mat-card>
        <button mat-raised-button color="accent" style="margin-top: 10px;" [routerLink] = "['/flights']">
             <i class="fas fa-undo"></i> Check for another flight
        </button>
        <mat-card style="margin-top: 10px;">
            <mat-card-header>
                <h3 style="font-weight: bold; color: rgb(4, 110, 110);">Legend : </h3>
            </mat-card-header>

            <div style="display: inline-flex;padding: 10px;">
                <p style="width: 10px; 
                height: 10px; 
                background-color: #e43737f5;
                margin-right: 5px;"></p>
                <p>General Seat</p>
            </div>
            <div style="display: inline-flex;padding: 10px;">
                <p style="width: 10px; 
                height: 10px; 
                background-color: purple;
                margin-right: 5px;"></p>
                <p>Wheelchair Seat</p>
            </div>
            <div style="display: inline-flex;padding: 10px;">
                <p style="width: 10px; 
                height: 10px; 
                background-color: rgb(13, 212, 226);
                margin-right: 5px;"></p>
                <p>Infant Seat</p>
            </div>
            <div style="display: inline-flex;padding: 10px;">
                <p style="width: 10px; 
                height: 10px; 
                background-color:yellow;
                margin-right: 5px;"></p>
                <p>Infant + Wheelchair</p>
            </div>
        </mat-card>
    </div>
</div>
