.outer-seat{
  width: 80px;
    height: 80px;
  border-radius: 9px;
  border: 3px solid #D8D8D8 ;
    background: white;
  position: relative;
  margin: 4px;
}
.inner-seat{
  width: 70px;
    height: 70px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
    background: #D8D8D8 ;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: black;
}
.blocked-seat{
  width: 70px;
    height: 70px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
    background: #e43737f5 ;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: black;
}

.blocked-wheelchair{
  width: 70px;
    height: 70px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
    background:purple ;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: black;
}

.blocked-infant{
  width: 70px;
    height: 70px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
    background: rgb(13, 212, 226);
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: black;
}

.blocked-both{
  width: 70px;
    height: 70px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin: -35px 0px 0px -35px;
    background: yellow ;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  color: black;
}

#div-inline{float: left; }

.outer-seat:hover{
   border-color:  black;
}

#div-inline:hover .inner-seat{
   background: rgb(221, 97, 194);
   cursor: pointer;
}

/* #div-inline:hover .blocked-seat{
  background: rgb(221, 97, 194);
  pointer-events: none;
} */

.clearBoth { clear:both; }

.selected-innerColor { 
  background-color: #3366CC; 
}

.selected-outerColor {
  border-color: #3366CC;
}

h2{
  color:rgb(211, 3, 107);
  display: inline-block;
}

.example-header-image-male {
  background-image: url('https://us.123rf.com/450wm/solargaria/solargaria1709/solargaria170900007/85362512-user-icon-male-avatar-in-business-suit-businessman-flat-icon-man-in-business-suit-avatar-of-business.jpg?ver=6');
  background-size: cover;
}

.example-header-image-female {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNZ8PEnVJDlw7ulGKS3k2tTjE7zTvtgdodZg&usqp=CAU');
  background-size: cover;
}

.passenger-detail-card{
  max-width: 400px;
}

.fa-times-circle{
  color: red;
}

.fa-check-check{
  color: greenyellow ;
}

ul{
  font-size: medium;
}